.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* input {
  height: 80%;
  width: 80%;
  justify-content: center;
  align-items: center;
  -ms-transform: translateY(6%);
  transform: translateY(6%);
  text-align: center;
  font-size: 50px;
} */

.cell {
  color:#000000;
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  /* margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px; */
  margin: 5px 2px 5px 2px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.grid {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.keyboard {
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.key {
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  font-size: 150%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 1px;
  border-radius: 1vw;
  border: none;
}

.keys0
.keys1
.keys2
.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

.instructionsOverlay {
  text-align: left;
}

.startButton {
  height: 10%;
  width: 50%;
  font-size: 3vh;
  background-color: #568203;
  color: aliceblue;
  margin-top: 15px;
}

.statsCloseButton {
  height: 10%;
  width: 50%;
  font-size: 2vh;
  background-color: #568203;
  color: aliceblue;
}

.flipCells {
  transform: rotatY(180deg);
}

.menu-icons {
  height: max-content;
  width: max-content;
  position: absolute;
  right: 3px;
}

.menu-icon {
  height: 10vw;
  width: 10vw;
  font-size: 150%;
  color: aliceblue;
  background-color: transparent;
  border-color: transparent;
  padding: 1px 1px 1px 1px !important;
}

.instructionCell {
  color: #000000;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  margin: 5px 2px 5px 2px;
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
  backface-visibility: hidden;
}

@keyframes instructionCellFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.instructionCellParent {
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
  transform: rotateY(180deg); 
  /* animation: 2s ease-in-out 0s 1 instructionCellFlip; */
}

.instructionCellFront {
  position: absolute;
  backface-visibility: hidden;
}
.instructionCellBack {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.greyCell {
  background-color: darkgray;
}
.greenCell {
  background-color: #568203;
}
.yellowCell {
  background-color: yellow;
  /* animation: 2s ease-in-out 0s 1 instructionCellFlip; */
}


.statsLabelCell {
  font-size: small;
  width: 60px;
  padding: 1px 10px 30px 5px;
  text-align: center;

}
.statsContentCell {
  font-size: 35px;
  width: 60px;
  padding: 1px 5px 1px 5px;
  text-align: center;
}

.countdownTimer {
  font-size: 30px;
  padding-bottom: 10px;
}
